---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About Power</h1>
        
        <p>
            This page is all about how I got my powers, How I use them, How can you get them too! 
        </p>
        <p>
            Wanna go to <a href="/" >home</a>?
        </p>
	</body>
</html>
