---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Power Blogs</h1>

        <p> This is my power blog, where I tell you how I helper 'n' number of programming errors to get to where they need to go!</p>
        <p> Hurray up, to get powers like mine!</p>
		
        <p>Wann go to <a href="/">home</a>   </p>
	</body>
</html>
